{% extends 'index.html' %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h2 class="display-2 text-center">{{user.username}}</h2>
      <h3 class="text-center">Edit your profile</h2>
      <div class="text-center justify-content-center">
        <img class="profile-img" src="{{user.image_url}}" alt="profile image">
      </div>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <div class="edit-btn-area">
          <button class="btn btn-success">Save</button>
          <a href="/users/{{ user.id }}" class="btn btn-outline-secondary">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}