<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
  <!-- <nav class="navbar navbar-expand">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <span>GiGBOOK</span>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search-venues">Search Venues</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        
        {% if not g.user %}
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Log in</a></li>
        {% else %}
        <li>
          <a href="/users/{{ g.user.id }}">
            <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}">
            <p>{{ g.user.username }}</p>
          </a>
        </li>
        <li><a href="/messages/new">New Message</a></li>
        <li><a href="/logout">Log out</a></li>
        {% endif %}
      </ul>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">GiGBOOK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/search-venues">Search Venues</a>
            </li> -->
          </ul>
          <form class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if not g.user %}
              <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
              <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/users/{{ g.user.id }}">
                  <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}">
                  <p>{{ g.user.username }}</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/search-venues">Logout</a>
              </li>
              {% endif %}
            </ul>
          </form>
        </div>
      </div>
    </nav>
  {% for msg in get_flashed_messages()%}
  <p>
    {{msg}}
  </p>
  {% endfor %}
  {% block content %}
  <div class=container>
    <h1>Welcome to GiGBOOK Homepage</h1> 
    <p><a href="/search-venues">Search Venues</a></p>
  </div>
  {% endblock %}

  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="/static/app.js"></script>
</body>
</html>