{% extends 'index.html' %}

{% block content %}
<div class=container>
  
  {% block title %}
  <h2 class="display-2 text-center">Search Venues</h2>
  {% endblock %}
  
  <p class="lead text-center">Search venues by city and state.</p>
  
  <div class="row justify-content-center">
    
    <div class="col-md-4">

      <form id="search-venues-form" method="POST">

        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden'%}
        <div class="form-group">

          {{field.label}}

          {{field(class_="form-control mt-1 mb-1")}}

          {% for err in field.errors %}

          <small class="form-text text-danger">
            {{err}}
          </small>
          {% endfor %}

        </div>
        {% endfor %}

        <div class="text-end mt-3">

          <button class="btn  btn-dark  btn-md">Search</button>

        </div>

      </form>

    </div>

  </div>

  {% if venues %}
  <div class="table-responsive">

    <div class="row justify-content-center">

      <div class="col-md-8">

        <table class="table table-hover mb-5 mt-5">

          <thead class="thead table-dark">

              <tr>
                  <th>#</th>
                  <th>Venue Name</th>
                  <!-- <th>Address</th> -->
                  <th>City</th>
                  <th>State</th>
                  <th>Zip Code</th>
                  <th>Favorite</th>
              </tr>

          </thead>

          <tbody>

          {% for venue in venues %}
          <tr>

              <th scope="row">{{ loop.index }}</th>
              <td class="align-middle">{{ venue.name }}</td>
              <!-- <td class="align-middle">{{ venue.address }}</td> -->
              <td class="align-middle">{{ venue.city }}</td>
              <td class="align-middle">{{ venue.state }}</td>
              <td class="align-middle">{{ venue.postalCode }}</td>
              <td class="align-middle">
                
                {% if g.user %}
                  {% if venue.name in session["favorites"] %}
                  <button id="{{ venue.name }}" class="btn btn-danger add-delete"><i style="color: white;" class="fas fa-heart"></i></button>  
                  {% else %} 
                  <button id="{{ venue.name }}" class="btn btn-dark add-delete"><i style="color: greenyellow;" class="far fa-heart"></i></button> 
                  {% endif %}
                
                {% endif %}
              </td>

          </tr>

          {% endfor %}

          </tbody>

        </table>

      </div>

    </div>

  </div>   
  {% endif %}

</div>     
{% endblock %}