{% extends 'index.html' %}

{% block content %}
<div class="container">

    {% block title %}
    <h2 class="display-4 text-center">{{ user.username }}</h2>
    {% endblock %}

    <div class="text-center justify-content-center">

        <img class="profile-img" src="{{user.image_url}}" alt="profile image">

    </div>

    <div class="container justify-content-center text-center">

        <div class="text-center justify-content-center mt-2">

            <p id="user-locale" class="lead"><i class="fas fa-map-marker-alt m-2"></i> {{ user.city }}, {{ user.state }}</p>

        </div>

        {% if g.user.id == user.id %}
        <form class="text-center">

            <button formaction="/users/{{ user.id }}/delete" formmethod="POST" class="btn btn-danger user-delete m-1">Delete Account</button>
            <a class="btn btn-dark m-1" href="/users/{{ user.id }}/edit">Edit Account</a>

        </form>
        {% endif %}

    </div>  

    <div class="container justify-content-center text-center w-75 mb-5">

        <h2 class="display-6 text-center mt-4 mb-4">Favorite Venues</h3>

        <hr class="mb-4" style="margin: auto;">

        <ul id="profile-favs-list" style="list-style: none;">

            {% if user.favorites %}
                {% for venue in user.favorites %}
                <li>

                    <div class="row justify-content-center mb-2">

                        <div class="col-sm-9 text-start">
                            
                            <p class="fav ven-name">{{ venue.venue_name }}</p>

                        </div>

                        <div class="col-md-3 text-end">

                            <div class="fav text-end">
                                
                                <button id="{{ venue.venue_name }}" class="btn btn-danger add-delete"><i class="far fa-trash-alt"></i></i></button>

                            </div>

                        </div>

                    </div>

                </li>
                {% endfor %}

            {% else %}
            <p class="lead">{{user.username}} has no favorite venues yet...</p>
            {% endif %}

        </ul>
        
    </div>

</div>
{% endblock %}